<div ng-controller="EmployeeSelectorCtrl" class="pull-right form-group">
    <select ng-model="selectedEmployee"
            ng-options="employee as employee.name for employee in employees track by employee.id"
            ng-change="selectEmployee()"
            class="form-control"></select>
</div>